@font-face {
  font-family: "monseratt";
  src: url(../../font/Montserrat-Regular.ttf); }

@font-face {
  font-family: "opensans";
  src: url(../../font/OpenSans-Regular.ttf); }

@font-face {
  font-family: "myriad";
  src: url(../../font/MyriadPro-Regular.ttf); }

button {
  outline: none;
  cursor: pointer; }

.header {
  padding: 20px 135px 0 135px;
  font-family: 'opensans';
  font-size: 16px; }
  .header .header-top {
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
  .header .header-top__name {
    width: 50%;
    font-size: 18px;
    color: #5a5c6f;
    font-weight: bold; }
  .header .header-top__profile {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-end; }
  .header .profile__name {
    cursor: pointer;
    display: flex;
    color: #6b6d7d;
    align-items: center; }
  .header .profile__name img {
    margin: 0 10px 0 20px; }
  .header .profile__options {
    width: 20px;
    height: 20px;
    background: url(../../img/arrow.png) no-repeat center;
    margin-right: 20px; }
  .header .profile__bell {
    width: 20px;
    height: 20px;
    background: url(../../img/bell.png) no-repeat center; }
  .header .profile__gift {
    width: 20px;
    height: 20px;
    margin: 0 15px;
    background: url(../../img/gift.png) no-repeat center; }
  .header .profile__message {
    width: 20px;
    height: 20px;
    background: url(../../img/m.png) no-repeat center; }
  .header .header__menu {
    position: relative; }
  .header .menu-list__new {
    background: linear-gradient(150deg, #f87b59, #ec5068 50%);
    border-radius: 50%;
    padding: 12px 22px;
    position: absolute;
    font-size: 25px;
    right: 0;
    color: white;
    top: 18px; }
  .header .menu-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    font-family: "opensans";
    font-size: 16px;
    padding-bottom: 30px; }
  .header .menu-list__item {
    position: relative; }
    .header .menu-list__item .menu-list__active {
      color: #3e4056 !important;
      font-weight: bold;
      position: relative; }
    .header .menu-list__item .menu-list__active:after {
      position: absolute;
      content: '';
      width: 100%;
      color: #3e4056 !important;
      font-weight: bold;
      height: 5px;
      background: linear-gradient(90deg, #f87b59, #ec5068);
      left: 0;
      bottom: -28px; }
  .header .menu-list__item a {
    text-decoration: none;
    color: #c5c5cc; }
  .header .menu-list__item:nth-child(2) {
    margin: 0 39px; }

.main-block {
  padding: 70px 135px;
  background-color: #f7f9fc;
  -webkit-box-shadow: inset -1px 13px 19px 0px #eaecef;
  -moz-box-shadow: inset -1px 13px 19px 0px #eaecef;
  box-shadow: inset -1px 13px 19px 0px #eaecef;
  min-height: calc(100vh - 265px);
  display: flex; }
  .main-block .main-block__user {
    width: 30%;
    font-family: 'monseratt';
    position: relative; }
    .main-block .main-block__user .user-hidden {
      display: none;
      flex-direction: column;
      padding: 30px 0;
      border-radius: 10px;
      background-color: white;
      position: absolute;
      right: -140px;
      top: 35px;
      -webkit-box-shadow: -1px 10px 40px 10px #d4d8db;
      -moz-box-shadow: -1px 10px 40px 10px #d4d8db;
      box-shadow: -1px 10px 40px 10px #d4d8db; }
      .main-block .main-block__user .user-hidden button {
        padding: 5px 25px 5px 65px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        text-align: left; }
      .main-block .main-block__user .user-hidden .user-hidden__report:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: 35px;
        background: url(../../img/deletecopy.png) no-repeat center; }
      .main-block .main-block__user .user-hidden .user-hidden__block:before {
        width: 20px;
        left: 35px;
        height: 20px;
        position: absolute;
        content: '';
        background: url(../../img/block.png) no-repeat center; }
      .main-block .main-block__user .user-hidden button:hover {
        background-color: #f3f6fa; }
    .main-block .main-block__user .user-report {
      position: absolute;
      font-weight: bold;
      font-size: 35px;
      transform: rotate(90deg);
      top: -10px;
      right: -50px; }
  .main-block .user-detail {
    display: flex;
    justify-content: flex-start; }
    .main-block .user-detail .user-detail__block {
      display: flex;
      flex-direction: column;
      margin-left: 25px; }
    .main-block .user-detail .user-detail__name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px; }
    .main-block .user-detail .user-detail__email {
      color: #828495; }
    .main-block .user-detail .user-detail__edit {
      margin-top: 20px;
      color: #f17076;
      position: relative; }
    .main-block .user-detail .user-detail__edit::before {
      content: "";
      background: url(../../img/pencil.png) no-repeat center;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: -3px; }
  .main-block .user__follows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    margin: 35px 0 35px 0; }
    .main-block .user__follows .follows {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main-block .user__follows .follows span {
      color: #6e6f82;
      font-weight: bold; }
  .main-block .user__info {
    font-family: 'opensans';
    color: #4d4e65;
    font-size: 18px; }

.main-info {
  display: flex;
  width: 70%;
  flex-direction: column;
  font-family: 'opensans';
  font-size: 18px; }
  .main-info .main-info__header {
    display: flex;
    padding-left: 70px; }
    .main-info .main-info__header .layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .main-info .main-info__header .button {
      position: relative;
      width: 40px;
      height: 25px;
      margin: 0 30px;
      overflow: hidden; }
    .main-info .main-info__header .button.r,
    .main-info .main-info__header .button.r .layer {
      border-radius: 100px; }
    .main-info .main-info__header .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3; }
    .main-info .main-info__header .knobs {
      z-index: 2; }
    .main-info .main-info__header .layer {
      width: 100%;
      background-color: #ed5267;
      transition: 0.3s ease all;
      z-index: 1; }
    .main-info .main-info__header #button-1 .knobs:before {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      width: 11px;
      height: 1px;
      color: green;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      z-index: 2;
      padding: 9px 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; }
    .main-info .main-info__header #button-1 .checkbox:checked + .knobs:before {
      content: '';
      left: 17px;
      background-color: white; }
    .main-info .main-info__header #button-1 .checkbox:checked ~ .layer {
      background-color: #ed5267; }
    .main-info .main-info__header #button-1 .knobs,
    .main-info .main-info__header #button-1 .knobs:before,
    .main-info .main-info__header #button-1 .layer {
      transition: 0.3s ease all; }
  .main-info .main-info__blocks {
    margin-top: 50px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
    .main-info .main-info__blocks .main-info__item {
      background-color: white;
      border-radius: 5px;
      font-family: 'monseratt';
      color: #3e4056;
      padding: 25px;
      -webkit-box-shadow: -1px 10px 40px 10px #e8eaec;
      -moz-box-shadow: -1px 10px 40px 10px #e8eaec;
      box-shadow: -1px 10px 40px 10px #e8eaec;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main-info .main-info__blocks .main-info__item div {
        display: flex;
        justify-content: space-between;
        margin-top: 50px; }
      .main-info .main-info__blocks .main-info__item .weblink {
        padding-left: 20px;
        position: relative; }
      .main-info .main-info__blocks .main-info__item .weblink:before {
        position: absolute;
        background: url(../../img/web.png) no-repeat center;
        width: 20px;
        height: 20px;
        content: "";
        left: 0; }
      .main-info .main-info__blocks .main-info__item .main-info__shares {
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-weight: bold;
        margin-bottom: 22px; }
        .main-info .main-info__blocks .main-info__item .main-info__shares .main-info__link {
          background-color: #ecf1f8;
          border-radius: 10px;
          text-decoration: none;
          color: #3e4056;
          padding: 5px; }
      .main-info .main-info__blocks .main-info__item .main-info__text {
        font-size: 36px; }
      .main-info .main-info__blocks .main-info__item .main-info__name {
        font-size: 14px;
        display: flex;
        align-items: center; }
        .main-info .main-info__blocks .main-info__item .main-info__name img {
          margin-right: 5px; }
      .main-info .main-info__blocks .main-info__item .main-info__share {
        font-size: 14px;
        color: #f17076; }
